<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Update User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <header th:insert="blocks/header :: header"></header>
    <div class="container">
        <form class="form-style" th:object="${newUser}" th:action="@{/admin/users/}+${user.id}+@{/update}" method="post">
            <div class="checkbox" th:each="role: ${roles}">
                <label th:text="${role.name()}"></label>
                <input th:if="${user.getRoles().contains(role)}" checked th:field="*{roles}" type="checkbox" class="form-control" th:value="${role}" />
                <input th:if="${user.getRoles().contains(role)==false}" th:field="*{roles}" type="checkbox" class="form-control" th:value="${role}" />
            </div>
            <button type="submit" class="btn btn-outline-light">Edit user</button>
        </form>
    </div>
</body>

</html>