<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Votes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background: none;">

    <header th:insert="blocks/header :: header"></header>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <main role="main">

        <div class="container">
            <form class="form-style" th:object="${vote}" th:action="@{/admin/votes/add}" method="post">
                <input class="form-control" th:field="*{questions}" required placeholder="question"><br>

                <!--<div id="answers">
                    <hr>
                    <h4>Ответ 1</h4><br>
                    <input class="form-control" th:field="*{answers[__@{0}__].answer}"  required id="answer" placeholder="Ответ"><br>
                </div>
                <button type="button" onclick="addDeviceInput()" class="btn btn-primary">Добавить устройство</button>
                --><button type="submit" class="btn btn-outline-light">Add</button><br>
            </form>
        </div>

        <!--<section class="jumbotron text-center">/
        <div class="container">
            <form th:action="@{/orders/findByDate}" method="post">
                <input type="date" name="date1" pattern="yyyy-MM-dd" class="form-control"><br>
                <input type="date" name="date2" pattern="yyyy-MM-dd" class="form-control"><br>
                <input type="submit" class="form-control">
            </form>
        </div>
    </section>-->


        <div class="container">
            <div class="row">
                <table class="table table-info">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">Question</th>
                            <th scope="col">Answers</th>
                            <th scope="col">Info</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="el:${votes}">
                            <!--                        <th scope="row" th:text="${el.id}"/>-->
                            <!-- <th><a th:text="${el.id}" th:href="@{/admin/votes/}+${el.id}" /></th> -->
                            <td th:text="${el.questions}"></td>
                            <td>
                                <p th:each="answer:${el.answers}" th:text="${answer.answer}"></p>
                            </td>
                            <td><a th:href='${"/admin/votes/"+el.id}'><button class="btn btn-outline-dark">info</button></a></td>
                            <td><a th:href='${"/admin/votes/"+el.id+"/update"}'><button class="btn btn-outline-dark">edit</button></a></td>
                            <td><a th:href='${"/admin/votes/"+el.id+"/delete"}'><button class="btn btn-outline-dark">remove</button></a></td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </main>

    <!--<script>
    var num = 1;
    function addDeviceInput() {
        document.getElementById('answers').innerHTML +=
            '<hr>\n' +
            '                    <h4>Ответ &nbsp'+ (num+1) +'</h4><br>' +
            '<input class="form-control"  name="answers['+num+'].answer" required id="type" placeholder="Ответ"><br>\n';
        num++;
    }

</script>-->
    <!--<script>

    $(document).ready(function(){
        var show = false;
        $("#formAdd").hide();
        $("#show").click(function(){
            if(show==false) {
                $("#formAdd").show();
                show = true;
            }
            else {
                $("#formAdd").hide();
                show = false;
            }

        });
    });
</script>-->
</body>

</html>