<div th:fragment="header">
    <div class="header d-flex flex-column-reverse  flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" class="mr-2" method="post">
                <input type="submit" class="btn btn-outline-dark" value="Sign out" />
            </form>
        </div>
        <nav class="my-0 mr-md-auto">
            <a class="  btn btn-outline-dark" href="/login">Login</a>
            <a sec:authorize="isAuthenticated()" class="p-2 text-dark" href="/">Profile</a>
            <a sec:authorize="isAuthenticated()" class="p-2 text-dark" href="/user/votes">Votes</a>
            <!--<a sec:authorize="hasAuthority('USER')" class="p-2 text-dark" href="/orders">Заказы</a>
            <a sec:authorize="hasAuthority('MODERATOR')" class="p-2 text-dark" href="/services">Услуги</a>
            <a sec:authorize="hasAuthority('MODERATOR')" class="p-2 text-dark" href="/products">Товары</a>
            <a sec:authorize="hasAuthority('MODERATOR')" class="p-2 text-dark" href="/providers">Поставщики</a>
            <a sec:authorize="hasAuthority('USER')" class="p-2 text-dark" href="/types">Устройства</a>
            <a sec:authorize="hasAuthority('USER')" class="p-2 text-dark" href="/models">Модели</a>-->
            <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/admin/users">Users</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/admin/votes">Votes Control</a>
            <!--<a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/">Отчёт</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/experiences">Уровни</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/clients">Клиенты</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark" href="/discounts">Скидки</a>
            <a sec:authorize="hasAuthority('CASHIER')" class="p-2 text-dark" href="/cashier">Касса</a>-->

        </nav>

        <h5 class="my-2 my-md-0 mr-md-3  ">AITU Student Vote System</h5>
    </div>
</div>